body{
	background-color: #FFFFFF;
	margin: 0px;
	font-family: Verdana, Georgia, Serif;
	font-size: 14px;
}

#header{
	background-color:#DCDCDC;
	margin:10px;
	height: 90px;
	border-radius: 5px;
}	

#navbar{
	background-color: #DCDCDC;	margin : 10px;
	height: 40px;
	border-radius: 5px;
}

.main{
	background-color: #FFF0F5;
	margin-top:20px;
	margin-left:10px;
	margin-right:260px;
	margin-bottom: 10px;
	padding:10px;
}

#sideright{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 20px;
}

.imagegot{
	height:173px;
	width: 220px;
	float:right;
}

.imageflash{
	height:170px;
	width:220px;
	margin-right: 20px;
	float: right;
	padding-top:10px;
}
